/* HEADER */
.ContainerHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: url(Fondos/bg01.jpg);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vw;
    border-bottom: gray 1px solid;

}
 
nav.nav-main ul{
    display: flex;
    flex-direction: row;
    margin: 5%;
}

nav.nav-main h1{
text-align: left;
margin-right: 100px;
}

nav.nav-main a{
    text-decoration: none;
    font-size: 2em;
    color: white; 
}

.header li{
    list-style: none;
    padding-left: 40px;
    margin-left: 40px;
}

nav.nav-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.ContainerHeader .header .nav-main .botonMenu img{
    display: none;
    width: 20%;
}

/* FOOTER */ 
footer{
    background: url(Fondos/bg03.jpg);
}
.FooterInformacion{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    text-align: left;
    margin: 2vh 15vw;
    padding: 4vh;
}
.ColumnasFooter{
    display: flex;
    flex-direction: row;
}

div.FilasFooter ul{
    padding: 1vh;
}

div.FilasFooter ul li, div.FooterDerechosDeAutor a{
    list-style: none;
    padding-bottom: 2vh;
}
div.FilasFooter ul li a{
color: #546b76;
padding-bottom: 1vh;
}

div.CosasImportantes{
    margin-right: 70px;
    width: 70%;

}
div.CosasImportantes p, p.TituloFooter{
    color: black;
    font-size: 1.3em;
}

.TextoInformativo{
    width: 40%;
    line-height: 2;
}

div.FooterDerechosDeAutor{
    text-align: center;
}

div.FooterDerechosDeAutor p{
    color: black;
}

div.FooterDerechosDeAutor a{
    text-decoration:none;
    color: black;
}

@media (max-width:980px){
    /* HEADER */
    .ContainerHeader .header .nav-main .botonMenu img{
        display: flex;
        margin-top: 10%;
      }
  
      .header .nav-menu{
          display: none;
      }
  
      /* FOOTER */
      .FooterInformacion{
          flex-direction: column;
      }
      .ColumnasFooter{
          flex-direction: column;
          width: 100%;
          text-align: left;
      }
      .CosasImportantes{
          order: 1;
          margin-top: 1%;
      }
      .FooterInformacion{
          width: 150%;
      }

}