*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.ContainerGlobal{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: left;
    padding: 1% 10%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
    background-color: #f6f6f6;
    background: url(Fondos/bg04.png);
}

.ContainerLeft{
    display: flex;
    flex-direction: column;
    width: 120vw;
    line-height: 2;
}

.ContainerRight{
    display: flex;
    flex-direction: column;
    width: 120vw;
    line-height: 2;
}

@media(max-width:980px) {
    .ContainerGlobal{
        flex-direction: column; 
        
    }
    .ContainerGlobal div{
        width: 100%;
        padding-bottom: 0;
    }

    .ContainerCenter{
        order: -2;
    }
}

.ContainerGlobal .ContainerLeft div{
display: flex;
flex-direction: column;
margin: 4vh;
padding: 30px;
background-color: white;
}

.ContainerCenter{
display: flex;
flex-direction: column;
padding: 30px;
background-color: white;
line-height: 2;
}

.ContainerGlobal .ContainerRight div{
    display: flex;
    flex-direction: column;
    margin: 4vh;
    padding: 30px;
    background-color: white;
}

.ContainerLeft div .tituloP, .ContainerRight div .tituloP, .ContainerCenter .Cabeza .tituloP{
    color: black;
    font-size: 1.5em;
}

.ContainerCenter .subTituloP{
    color: rgb(116, 113, 113);
    font-size: 1em;
    margin-bottom: 10px;
}

.ContainerLeft div .parrafo, .ContainerRight div .parrafo, .ContainerCenter p{
    color: black;
    font-size: 0.9em;
    padding-bottom: 20px;
}

li{
    list-style: none;
}

li a{
    color: rgb(128, 38, 38);
    font-size: 1em;
}


